<div id="blueTop">&nbsp;
<div id="blueContainerResults">
<div id="whiteTopResults">&nbsp;
<div id="WhiteContainerResults">
<div class="bread"><%= raw(bread_crumbs) %></div>



<div id="territory"><!--Main Body Div (open)-->
	<p class="bodyTextItalic">
	  <%= image_tag "orange-cone_2.gif", :class => "orangeCone", :alt => "" %>
		This information reflects the Medicaid and Children's Health Insurance Program benefits that are available to people in your territory. 
		There may be other options for health care coverage accessible to you through the private sector or other sponsored programs. 
		Please consider following the links provided to explore all your options.
	</p>
	<p class="bodyTitle">
		Medicaid and CHIP in the Commonwealth of the Northern Mariana Islands (CNMI)
	</p>
	<div class="blueBox">
		<p class="bodyText">
			Medicaid which includes the Children's Health Insurance Program (CHIP) provides health and long-term care coverage to some people with limited income, including children and parents, pregnant women, people with disabilities, and seniors.
		</p>
	</div>
	<div class="grayLineThick"></div>
	<div><!--After Thick Gray Line Body Div - conatins a right and left (open)-->
		<div class="bodyLeft"><!--After Thick Gray Line Left Side (open)-->
			<p class="bodySubTitle">Services</p>
			<p class="bodyText">
				Below is a listing of some services offered through the CNMI Medicaid program if you qualify. 
				The CNMI Medicaid program may place requirements on services including prior authorization (which means you or your doctor may be required to submit information to prove why you need certain drugs or medical procedures before they will be covered) or limitations like covering a maximum number of doctor visits. 
				Some services that are not available in CNMI may be provided off-island with the prior authorization of the CNMI Medicaid program. 
				Please use the contact information provided to obtain a complete list of services.
			<ul class="bodyText">
				<li><span class="bold">Clinic Services:</span> A wide range of healthcare services including services for prevention or treatment of health conditions or illnesses, surgery, and other care provided in a centralized facility. </li>
				<li><span class="bold">Dental Services:</span> Services provided by a dentist or dental assistant to diagnose, prevent and treat conditions of the mouth, teeth, and face. </li>
				<li><span class="bold">Early and Periodic Screening, Diagnostic &amp; Treatment Services (EPSDT):</span> Regularly scheduled screenings to identify physical and mental conditions and vision, hearing, and dental problems for people 20 years or younger. Also includes treatment of problems identified through screening regardless of whether that treatment is otherwise part of the Medicaid program. </li>
				<li><span class="bold">Emergency Hospital Services:</span> Services provided in a hospital emergency department to treat illnesses or injuries that are medical emergencies. </li>
				<li><span class="bold">Eyeglasses:</span> Lenses or frames used to aid vision.</li>
				<li><span class="bold">Family Planning Services:</span> Medical services for diagnosis, treatment, counseling, drugs, supplies, or devices prescribed or provided by a doctor or nurse to individuals of child-bearing age, to help them determine how many children they will have and how far apart in age their children will be spaced. </li>
				<li><span class="bold">Home Health Services:</span> A wide range of services performed at someone's home. They can include skilled and non-skilled services, part-time nursing care, different types of therapy (e.g. PT, OT, speech and audiology), help with activities of daily living and homemaker services such as cleaning and meal preparation. </li>
				<li><span class="bold">Inpatient Hospital Services:</span> Any services that a person might receive at a hospital while they are staying overnight. These could include services from a doctor or nurse, lab work, surgery, drugs, and food and bed.</li>
				<li><span class="bold">Lab and X-ray Services:</span> Services such as blood and urine tests and x-ray images ordered by a medical professional to screen for or diagnose a medical condition. </li>
				<li><span class="bold">Nursing Facility Services:</span> Skilled nursing, rehabilitation, and other services provided in a facility to help people with illness, injuries, or other disabilities to recover or to improve, and to provide long term care to those who need support with daily activities such as bathing, dressing and eating.</li>
				<li><span class="bold">Physicians Services:</span> Healthcare services, such as office visits, provided by a licensed doctor. </li>
				<li><span class="bold">Prescribed Drugs:</span> Drugs that a person can get only if a doctor (or another authorized healthcare provider) gives permission for them through a prescription. </li>
			</ul>
			</p>
			<div class="dottedLine"></div>
			<p class="bodySubTitle">Medicaid Contacts:</p>
			<p class="bodyText">
				Helen Sablan, Administrator<br />
				Medicaid<br />
				PO Box 500409<br />
				Saipan, MP 96950<br />
				Telephone: (670) 664-4890<br />
				Fax: (670) 236-8604<br />
				Email: chcmc@pticom.com<br />
			</p>
			<div class="dottedLine"></div>
			<p class="bodySubTitle">Health Care Resources:</p>
			<p class="bodyText">
				Division of Public Health (670) 234-8950 <br />
				Department of Public Health<br />
				PO Box 500409CK<br />
				Saipan, MP 96950<br /><br /><br />
				Medicare 1-800-MEDICARE <br />
				Web Site: <a href="http://www.medicare.gov">www.Medicare.gov</a>
			</p>
		</div><!--After Thick Gray Line Left Side (close)-->
		<div class="bodyRight"><!--After Thick Gray Line Right Side (open)-->
			<a href="http://www.medicare.gov"><%= image_tag "visit-site-btn.gif", :alt => "Visit the website" %></a>
		</div><!--After Thick Gray Line Right Side (close)-->
	</div><!--After Thick Gray Line Body Div - conatins a right and left (close)-->
</div><!--Main Body Div (close)-->
<div class="clearBoth"></div>

</div>
</div>
</div>
</div>
