<div id="blueTop">&nbsp;
<div id="blueContainerResults">
<div id="whiteTopResults">&nbsp;
<div id="WhiteContainerResults">
<div class="bread"><%= raw(bread_crumbs) %></div>



<div id="territory"><!--Main Body Div (open)-->
	<p class="bodyTextItalic">
	  <%= image_tag "orange-cone_2.gif", :class => "orangeCone", :alt => "" %>
		This information reflects the Medicaid and Children's Health Insurance Program benefits that are available to people in your territory. 
		There may be other options for health care coverage accessible to you through the private sector or other sponsored programs. 
		Please consider following the links provided to explore all your options.
	</p>
	<p class="bodyTitle">
		Medicaid and CHIP in Guam
	</p>
	<div class="blueBox">
		<p class="bodyText">
			Medicaid which includes the Children's Health Insurance Program (CHIP) provides health and long-term care coverage to some people with limited income, including children and parents, pregnant women, people with disabilities, and seniors.
		</p>
	</div>
	<div class="grayLineThick"></div>
	<div><!--After Thick Gray Line Body Div - conatins a right and left (open)-->
		<div class="bodyLeft"><!--After Thick Gray Line Left Side (open)-->
			<p class="bodySubTitle">Services</p>
			<p class="bodyText">
				Below is a listing of some services offered through the Guam Medicaid program if you qualify. 
				The Guam Medicaid program may place requirements on services including prior authorization (which means you or your doctor may be required to submit information to prove why you need certain drugs or medical procedures before they will be covered) or limitations like covering a maximum number of doctor visits. 
				Some services that are not available on Guam may be provided off-island with the prior authorization of the Guam Medicaid program. 
				Please use the contact information provided to obtain a complete list of services.  
				<ul class="bodyText">
					<li><span class="bold">Clinic Services:</span> A wide range of healthcare services including services for prevention or treatment of health conditions or illnesses, surgery, and other care provided in a centralized facility.</li>
					<li><span class="bold">Dental Services:</span> Services provided by a dentist or dental assistant to diagnose, prevent and treat conditions of the mouth, teeth, and face.</li>
					<li><span class="bold">Diagnostic Services:</span> Services used to identify a disease based on signs and symptoms. Tools to identify a disease can include blood and urine tests.</li>
					<li><span class="bold">Early and Periodic Screening, Diagnostic &amp; Treatment Services (EPSDT):</span> Regularly scheduled screenings to identify physical and mental conditions and vision, hearing, and dental problems for people 20 years or younger. Also includes treatment of problems identified through screening regardless of whether that treatment is otherwise part of the Medicaid program. </li>
					<li><span class="bold">Emergency Hospital Services:</span> Services provided in a hospital emergency department to treat illnesses or injuries that are medical emergencies.</li>
					<li><span class="bold">Home Health Services:</span> A wide range of services performed at someone's home. They can include skilled and non-skilled services, part-time nursing care, different types of therapy (e.g. PT, OT, speech and audiology), help with activities of daily living and homemaker services such as cleaning and meal preparation. </li>
					<li><span class="bold">Inpatient Hospital Services:</span> Any services that a person might receive at a hospital while they are staying overnight. These could include services from a doctor or nurse, lab work, surgery, drugs, and food and bed. </li>
					<li><span class="bold">Lab and X-ray Services:</span> Services such as blood and urine tests and x-ray images ordered by a medical professional to screen for or diagnose a medical condition. </li>
					<li><span class="bold">Nursing Facility Services:</span> Skilled nursing, rehabilitation, and other services provided in a facility to help people with illness, injuries, or other disabilities to recover or to improve, and to provide long term care to those who need support with daily activities such as bathing, dressing and eating. </li>
					<li><span class="bold">Physicians Services:</span> Healthcare services, such as office visits, provided by a licensed doctor. </li>
					<li><span class="bold">Prescribed Drugs:</span> Drugs that a person can get only if a doctor (or another authorized healthcare provider) gives permission for them through a prescription. </li>
					<li><span class="bold">Psychologist Services:</span> Services from someone who has been trained to diagnose and treat a variety of problems through therapy and counseling. These can include mental health problems, distress, emotional disturbances, and others.</li>
				</ul>
			</p>
			<div class="dottedLine"></div>
			<p class="bodySubTitle">Medicaid Contacts:</p>
			<p class="bodyText">
				Sandrina Cepeda<br />
				Management Analyst III 
			</p> 
			<p class="bodyText">
				Bureau of Health Care Financing Administration<br />
				123 Chalan Kareta, Mangilao, Guam 96913-6304<br />
				Telephone Number: (671) 735-7237<br />
				Fax Number: (671) 734-6860<br />
				Email Address: sandrina.cepeda@dphss.guam.gov<br /><br /><br />
				Maria Theresa L. Arcangel<br />
				Medicaid Administrator<br /><br /><br />
				Bureau of Health Care Financing Administration<br />
				123 Chalan Kareta, Mangilao, Guam 96913-6304<br />
				Telephone Number: (671) 735-7282<br />
				Fax Number: (671) 734-6860<br />
				Email Address: theresa.arcangel@dphss.guam.gov<br /><br /><br />
				Web Site: <a href="http://dphss.guam.gov">http://dphss.guam.gov</a>
			</p>
			<div class="dottedLine"></div>
			<p class="bodySubTitle">Health Care Resources:</p>
			<p class="bodyText">
				Medically Indigent Program (MIP)<br /><br />
				MIP is a locally funded program administered by the Department of Public Health and Social Services which provides assistance with health care costs to individuals who are not eligible for Medicaid or Medicare.<br /><br />
				Sandrina Cepeda<br />
				Management Analyst III<br /><br /><br />
				Bureau of Health Care Financing Administration<br />
				123 Chalan Kareta, Mangilao, Guam 96913-6304<br />
				Telephone Number: (671) 735-7237<br />
				Fax Number: (671) 734-6860<br />
				Email Address: sandrina.cepeda@dphss.guam.gov<br /><br /><br />
				Medicare 1-800-MEDICARE <br />
				Web Site: <a href="http://www.medicare.gov">www.Medicare.gov</a>
			</p>
		</div><!--After Thick Gray Line Left Side (close)-->
		<div class="bodyRight"><!--After Thick Gray Line Right Side (open)-->
			<a href="http://dphss.guam.gov"><%= image_tag "visit-site-btn.gif", :alt => "Visit the website" %></a>
		</div><!--After Thick Gray Line Right Side (close)-->
	</div><!--After Thick Gray Line Body Div - conatins a right and left (close)-->
</div><!--Main Body Div (close)-->
<div class="clearBoth"></div>


</div>
</div>
</div>
</div>
