<div id="blueTop">&nbsp;
<div id="blueContainerResults">
<div id="whiteTopResults">&nbsp;
<div id="WhiteContainerResults">
<div class="bread"><%= raw(bread_crumbs) %></div>

<div id="territory"><!--Main Body Div (open)-->
	<p class="bodyTextItalic">
	  <%= image_tag "orange-cone_2.gif", :class => "orangeCone", :alt => "" %>
		This information reflects the Medicaid and Children's Health Insurance Program benefits that are available to people in your territory.
		There may be other options for health care coverage accessible to you through the private sector or other sponsored programs.
		Please consider following the links provided to explore all your options.
	</p>
	<p class="bodyTitle">
		Medicaid and CHIP in Puerto Rico
	</p>
	<div class="blueBox">
		<p class="bodyText">
			Medicaid which includes the Children's Health Insurance Program (CHIP) provides health and long-term care coverage to some people with limited income, including children and parents, pregnant women, people with disabilities, and seniors.
			In Puerto Rico, this health insurance is provided through managed care Health Plans that have contracts with the Government of Puerto Rico.The program is called "Mi Salud," formally "Reforma."
		</p>
	</div>
	<div class="grayLineThick"></div>
	<div><!--After Thick Gray Line Body Div - conatins a right and left (open)-->
		<div class="bodyLeft"><!--After Thick Gray Line Left Side (open)-->
			<p class="bodySubTitle">Services</p>
			<p class="bodyText">
				Below is a listing of some services offered through the Puerto Rico Medicaid program if you qualify. 
				The Puerto Rico Medicaid program may place requirements on services including prior authorization (which means you or your doctor may be required to submit information to prove why you need certain drugs or medical procedures before they will be covered) or limitations like covering a maximum number of doctor visits.
				Please use the contact information provided to obtain a complete list of services. 
				<ul class="bodyText">
					<li><span class="bold">Clinic Services:</span> A wide range of healthcare services including services for prevention or treatment of health conditions or illnesses, surgery, and other care provided in a centralized facility. </li>
					<li><span class="bold">Dental Services:</span> Services provided by a dentist or dental assistant to diagnose, prevent and treat conditions of the mouth, teeth, and face. </li>
					<li><span class="bold">Diagnostic Services:</span> Services used to identify a disease based on signs and symptoms. Tools to identify a disease can include blood and urine tests.</li>
					<li><span class="bold">Early and Periodic Screening, Diagnostic &amp; Treatment Services (EPSDT):</span>Regularly scheduled screenings to identify physical and mental conditions and vision, hearing, and dental problems for people 20 years or younger. Also includes treatment of problems identified through screening regardless of whether that treatment is otherwise part of the Medicaid program.</li>
					<li><span class="bold">Emergency Hospital Services:</span> Services provided in a hospital emergency department to treat illnesses or injuries that are medical emergencies.</li>
					<li><span class="bold">Home Health Services:</span> A wide range of services performed at someone's home. They can include skilled and non-skilled services, part-time nursing care, different types of therapy (e.g. PT, OT, speech and audiology), help with activities of daily living and homemaker services such as cleaning and meal preparation.</li>
					<li><span class="bold">Inpatient Hospital Services:</span> Any services that a person might receive at a hospital while they are staying overnight. These could include services from a doctor or nurse, lab work, surgery, drugs, and food and bed.</li>
					<li><span class="bold">Lab and X-ray Services:</span> Services such as blood and urine tests and x-ray images ordered by a medical professional to screen for or diagnose a medical condition. </li>
					<li><span class="bold">Nursing Facility Services:</span> Skilled nursing, rehabilitation, and other services provided in a facility to help people with illness, injuries, or other disabilities to recover or to improve, and to provide long term care to those who need support with daily activities such as bathing, dressing and eating.</li>
					<li><span class="bold">Physicians Services:</span> Healthcare services, such as office visits, provided by a licensed doctor. </li>
					<li><span class="bold">Prescribed Drugs:</span> Drugs that a person can get only if a doctor (or another authorized healthcare provider) gives permission for them through a prescription. </li>
				</ul>
			</p>
			<div class="dottedLine"></div>
			<p class="bodySubTitle">Who Can Apply?</p>
			<p class="bodyText">
				Everyone residing in Puerto Rico is entitled to apply voluntarily in order to be evaluated at the local offices.
				Eligibility for Medicaid is based on your resident's status, family income, resources and other factors. 
				Therefore, it is necessary that the family or individual applying for assistance have the proper documents available at the time of the appointment to avoid any delays in determining your eligibility.
				These documents must provide proof of citizenship and age, monthly income and resources.
			</p>
			<div class="dottedLine"></div>
			<p class="bodySubTitle">Where Can I Apply?</p>
			<p class="bodyText">
				Applications for Medicaid can be filled out at the Oficina Local de Programa de Asistencia M&eacute;dica (Local Office of Medical Assistance) in the town where the person or family resides.
				Some towns have more than one local office.Office hours are from 7:00 am to 3:30 pm.
			</p><br />
			<p class="bodyText">
				The person must go to the local town office where they reside and request an appointment (appointments are not given over the phone).
				The appointment is given after a preliminary interview is conducted the same day that the person applies.
				In order to be evaluated and determine eligibility, the person must then return to the office on the appointed day with the documents that were requested in the preliminary interview. 
			</p>
			<div class="dottedLine"></div>
			<p class="bodySubTitle">Medicaid Contacts:</p>
			<p class="bodyText">
				Medicaid Office<br />
				PO Box 7018<br />
				San Juan, Puerto Rico<br />
				Tel: 787-765-1230<br />
				Fax: 787-250-0990<br />
			</p>
			<div class="dottedLine"></div>
			<p class="bodySubTitle">Health Care Resources:</p>
			<p class="bodyText">
				Medicare <br /><br />
				Phone: 1-800-MEDICARE<br />
				Web Site: <a href="http://www.Medicare.gov">www.Medicare.gov</a><br /><br />
				Veterans Administration <br /><br />
				Caribbean Healthcare System<br />
				10 Casia Street<br />
				San Juan, PR 00921-3201<br />
				787-641-7582 Or 800-449-8729<br />
			</p>
		</div><!--After Thick Gray Line Left Side (close)-->
		<div class="bodyRight"><!--After Thick Gray Line Right Side (open)-->
			<a href="http://www.medicare.gov"><%= image_tag "visit-site-btn.gif", :alt => "Visit the website" %></a>
		</div><!--After Thick Gray Line Right Side (close)-->
	</div><!--After Thick Gray Line Body Div - conatins a right and left (close)-->
</div><!--Main Body Div (close)-->
<div class="clearBoth"></div>

</div>
</div>
</div>
</div>
