<div id="blueTop">&nbsp;
<div id="blueContainerResults">
<div id="whiteTopResults">&nbsp;
<div id="WhiteContainerResults">
<div class="bread"><%= raw(bread_crumbs) %></div>


<div id="territory"><!--Main Body Div (open)-->
	<p class="bodyTextItalic">
	  <%= image_tag "orange-cone_2.gif", :class => "orangeCone", :alt => "" %>
		This information reflects the Medicaid and Children's Health Insurance Program benefits that are available to people in your territory. 
		There may be other options for health care coverage accessible to you through the private sector or other sponsored programs. 
		Please consider following the links provided to explore all your options.
	</p>
	<p class="bodyTitle">
		Medicaid and CHIP in The United States Virgin Islands (USVI)
	</p>
	<div class="blueBox">
		<p class="bodyText">Medicaid which includes the Children's Health Insurance Program (CHIP) provides health and long-term care coverage to some people with limited income, including children and parents, pregnant women, people with disabilities, and seniors. In the Virgin Islands, the Medicaid Program is also known as MAP or Medical Assistance. The program is designed to ensure access to quality medical care.</p> 
	</div>
	<div class="grayLineThick"></div>
	<div><!--After Thick Gray Line Body Div - conatins a right and left (open)-->
		<div class="bodyLeft"><!--After Thick Gray Line Left Side (open)-->
			<p class="bodySubTitle">Services</p>
			<p class="bodyText">
				Below is a listing of some services offered through the Virgin Islands Medicaid program if you qualify. 
				The Virgin Islands Medicaid program may place requirements on services including prior authorization (which means you or your doctor may be required to submit information to prove why you need certain drugs or medical procedures before they will be covered) or limitations like covering a maximum number of doctor visits. 
				Please use the contact information provided to obtain a complete list of services. 
				<ul class="bodyText">
					<li><span class="bold">Clinic Services:</span> A wide range of healthcare services including services for prevention or treatment of health conditions or illnesses, surgery, and other care provided in a centralized facility. </li>
					<li><span class="bold">Dental Services:</span> Services provided by a dentist or dental assistant to diagnose, prevent and treat conditions of the mouth, teeth, and face.</li>
					<li><span class="bold">Early and Periodic Screening, Diagnostic &amp; Treatment Services (EPSDT):</span> Regularly scheduled screenings to identify physical and mental conditions and vision, hearing, and dental problems for people 20 years or younger. Also includes treatment of problems identified through screening regardless of whether that treatment is otherwise part of the Medicaid program. </li>
					<li><span class="bold">Home Health Services:</span> A wide range of services performed at someone's home. They can include skilled and non-skilled services, part-time nursing care, different types of therapy (e.g. PT, OT, speech and audiology), help with activities of daily living and homemaker services such as cleaning and meal preparation. </li>
					<li><span class="bold">Inpatient Hospital Services:</span> Any services that a person might receive at a hospital while they are staying overnight. These could include services from a doctor or nurse, lab work, surgery, drugs, and food and bed. </li>
					<li><span class="bold">Lab and X-ray Services:</span> Services such as blood and urine tests and x-ray images ordered by a medical professional to screen for or diagnose a medical condition. </li>
					<li><span class="bold">Nursing Facility Services:</span> Skilled nursing, rehabilitation, and other services provided in a facility to help people with illness, injuries, or other disabilities to recover or to improve, and to provide long term care to those who need support with daily activities such as bathing, dressing and eating. </li>
					<li><span class="bold">Physicians Services:</span> Healthcare services, such as office visits, provided by a licensed doctor. </li>
				</ul>
			</p>
			<div class="dottedLine"></div>
			<p class="bodySubTitle">Who Can Apply?</p>
			<p class="bodyText">
				If you want to apply for Medicaid, you must call for an appointment at the MAP office nearest you. If you are unable to go there, you may have a representative apply on your behalf. 
				However, you must sign an application and provide certain information about yourself and your family. 
				The Certification Unit at the MAP Office will determine your eligibility. Eligibility for Medicaid is based on your residency status, family income, resources and other factors. 
				The MAP office can advise you about specific documents to bring to your appointment and additional requirements.
			</p>
			<div class="dottedLine"></div>
			<p class="bodySubTitle">Medicaid Contacts:</p>
			<p class="bodyText">
				Medical Assistance Offices are located at:<br /><br />
				Knud Hansen Complex<br />
				ST. THOMAS, VIRGIN ISLANDS<br />
				Phone: (340) 774-3325<br /><br />
				Morris DeCastro Clinic<br />
				CRUZ BAY, ST. JOHN<br />
				Phone: (340) 776-6400<br /><br />
				Charles Harwood Complex<br />
				CHRISTIANSTED, ST. CROIX<br />
				Phone (340) 773-1311 x. 3094<br /><br />
				Ingeborg Nesbitt Clinic<br />
				FREDERIKSTED, ST. CROIX<br />
				Phone (340) 772-2501
			</p>
			<div class="dottedLine"></div>
			<p class="bodySubTitle">Contact Information for the USVI Health Department </p>
			<p class="bodyText">
				St. Croix Office <br />
				Charles Harwood Complex<br />
				3500 Est. Richmond<br />
				Christiansted, VI 00820<br />
				Voice: (340) 773-1311 <br /><br />
				St. Thomas / St. John Office <br />
				1303 Hospital Ground Suite 10<br />
				Charlotte Amalie<br />
				St. Thomas, VI 00802<br />
				Voice: (340) 774-9000 <br />
			</p>
			<div class="dottedLine"></div>
			<p class="bodySubTitle">Other Health Services in the USVI:</p>
			<p class="bodyText">
				The USVI Department of Human Services provides a host of other services to the population of the territory. 
				Health care services are listed below. Please contact Human Services for eligibility requirements.
			</p>
			<br />
			<p class="bodyText">
				Disabilities, Vocational and Rehabilitation Services
				Pharmaceutical Assistance to the Aged
			</p>
			<div class="dottedLine"></div>
			<p class="bodySubTitle">Contact Information for the USVI Human Services:</p>
			<p class="bodyText">
				Department of Human Services - St. Thomas<br />
				1303 Hospital Ground Knud Hansen Complex Building A<br />
				St. Thomas, VI 00802<br />
				Phone: (340) 774-0930 <br />
			</p><br />
			<p class="bodyText">
				Department of Human Services - St. Croix<br />
				3011 Golden Rock Christiansted <br />
				St Croix, VI 00820<br />
				(340) 773-2323 <br />
			</p><br />
			<p class="bodyText">
				Department of Human Services - St. John<br />
				St. John, VI<br />
				(340) 776-6334<br />
			</p>
		</div><!--After Thick Gray Line Left Side (close)-->
		<div class="bodyRight"><!--After Thick Gray Line Right Side (open)-->
			<a href="http://www.medicare.gov"><%= image_tag "visit-site-btn.gif", :alt => "Visit the website" %></a>
		</div><!--After Thick Gray Line Right Side (close)-->
	</div><!--After Thick Gray Line Body Div - conatins a right and left (close)-->
</div><!--Main Body Div (close)-->
<div class="clearBoth"></div>

</div>
</div>
</div>
</div>
