<p>You may be eligible for health insurance coverage through work at your own job or that of your spouse.</p>
<ul>
	<li>If your employer offers coverage, you generally can't be turned away or charged a higher premium because of your health status or disability. This protection is called "nondiscrimination."</li>
	<li>Employers may refuse or restrict coverage for other reasons (such as part-time employment), as long as these are unrelated to your health status and applied consistently.</li>
	<li>If you get job-based coverage, you have <a href="http://www.healthcare.gov/foryou/disabilities/insurance/job/index.html" title="Link to more information on Certain Protections">certain protections</a>.</li>
</ul>