<p>
	How the Affordable Care Act makes Medicare and your health care better now:
	<ul>
	<li>Your existing Medicare-covered benefits won’t be reduced or taken away.</li>
	<li>Your ability to choose your own doctor hasn’t changed.  In fact, the vast majority of doctors and hospitals participate in Medicare, ensuring wide choice and access to care.</li>
	<li>If you have Medicare prescription drug coverage and have to pay for your drugs in the donut hole, this year you’ll get a one-time tax free $250 rebate from Medicare to help pay for your prescriptions.</li><li>Starting in 2011, if you have high prescription drug costs that put you in the donut hole, you’ll get a 50% discount on covered brand-name drugs while you’re in the donut hole.</li>
	<li>Starting in 2011, Medicare will cover certain preventive services without charging you the Part B coinsurance or deductible. You will also be offered a free annual wellness exam.</li>
	<li>Today, Medicare pays Medicare Advantage insurance companies over $1,000 more per person on average than Original Medicare costs per person. These additional payments are paid for in part by increased premiums for all people with Medicare. The Affordable Care Act will reduce excessive payments to private insurance companies in Medicare Advantage while protecting your guaranteed Medicare benefits.  This will lower Part B premiums for all people with Medicare – including the three-quarters not enrolled in a Medicare Advantage Plan.   How the Affordable Care Act will make Medicare stronger into the future.</li>
	<li>The life of the Medicare Trust fund will be extended to at least 2029, a 12-year extension as a result of reducing waste, fraud and abuse, and slowing cost growth in Medicare which will provide you with future cost savings on your premiums and coinsurance.</li>
	<li>In 2011, if you hit the prescription drug donut hole, you will get a 50% discount on brand-name drugs.  Every year after, you will pay less for your prescription drugs in the donut hole until there’s complete coverage of the donut hole in 2020.  Between now and then, you will get continuous Medicare coverage for your prescription drugs. </li>
	<li>The coordination of care between doctors and the overall quality of care will improve so that you will be less likely to experience preventable and harmful re-admissions to the hospital for the same condition.</li>
	<li>Hospitals will have new, strong incentives to improve your quality of care.</li>
	<li>Medicare will take strong action to reduce payment errors, waste, fraud, and abuse in Medicare. Visit Stop Medicare Fraud for more information.</li>
	<li>Starting in 2014, the Affordable Care Act offers additional protections for Medicare Advantage Plan members by taking strong steps that limit the amount these plans spend on administrative costs and insurance company profits, and things other than health care.
	</ul>
</p>
