<p>The Department of Veterans Affairs (VA) may provide long-term care for service-related disabilities or certain eligible veterans. The VA also has a Housebound and Aid and Attendance Allowance Program that provides cash grants to eligible disabled veterans and surviving spouses to get homemaker, personal care, and other services needed for help at home. </p>
<p>VA health benefits are open to all Veterans. Family members may also be eligible to receive benefits. There is no monthly premium for VA care, but there may be a co-pay.</p>
