<p>
You may have the option of keeping the coverage you had at work through a program called COBRA.  
COBRA is a federal law that may let you and your family keep your employee health insurance for a limited time after your employment ends or after you would otherwise lose coverage. This is called “continuation coverage.”  Since your employer doesn’t pay for COBRA coverage, you’ll pay for the whole cost of the monthly premium. 
<p>Here‘s what you need to know about COBRA coverage:</p>


<ul>
<li>In general, COBRA coverage requirements only apply to employers with 20 or more employees.</li>
	<li>If your family was covered under your employer coverage, they may also qualify for COBRA coverage.</li>
	<li>In most situations, you should get a notice from your employer’s benefits administrator or the health plan telling you that your coverage is ending and offering you the right to take COBRA coverage.</li>
	<li>You have a limited time to sign up for COBRA coverage. In most cases, you have 60 days after your last day of coverage to sign up for COBRA.</li>
	<li>COBRA coverage usually lasts for 18 months but could last up to 36 months.</li>
	<li>If you recently lost your job-based health coverage, you may be eligible for a <a href="http://www.dol.gov/cobra" target="_blank" class="APEdocument APEexternal">65% reduction of your COBRA premium</a> for up to 15 months. </li>
</ul>
<p>Where can I get more information about COBRA coverage?</p>
<ul>
	<li>Call your employer’s benefits administrator for questions about your specific COBRA coverage options.</li>
	<li>If your health plan coverage was from a private employer (not a government employer), you can visit the <a href="http://www.dol.gov/ebsa/publications/cobraemployee.html" target="_blank" class="APEdocument APEexternal">Department of Labor's Website</a> or call 1-866-444-3272.</li>
	<li>If your health plan coverage was from a state or local government employer, you can call 1-877-267-2323 extension 61565.  </li>
	<li>If your coverage was with the Federal government, you can visit the Office of Personnel Management’s web site at <a href="http://www.opm.gov" target="_blank" class="APEdocument APEexternal">www.opm.gov</a>.</li> 
</ul>
<p>State coverage similar to COBRA coverage</p>
<ul>
	<li>Many states have laws similar to COBRA that apply to insurance bought by employers with fewer than 20 employees.</li>
	<li>A few states also apply these requirements to insurance plans that are also subject to the Federal COBRA requirements.   Contact your <a href="http://www.naic.org/state_web_map.htm" target="_blank" class="APEdocument APEexternal">State Department of Insurance</a> to see if “state continuation coverage” applies to you.  </li>
</ul>
</p>