<p> If you have Medicare and a limited income, Medicaid and other programs may help pay for your Medicare costs. </p>
<p> Medicaid also offers benefits not normally covered by Medicare, like help with personal care and rides to doctor appointments. If you qualify for Medicaid in your state, you automatically qualify to get Extra Help paying for Medicare prescription drug coverage.
 </p>
