<p> This type of private insurance policy can help pay for many types of long-term care, including both skilled and personal care. Long-term care insurance can vary widely. Some policies may cover only nursing home care. Others may include coverage for a range of services like adult day care, assisted living, medical equipment, and home care. The amount of coverage available for different services varies by policy.
	<ul>
		<li>Your current or former employer or union may offer long-term care insurance</li>
		<li>Current and retired Federal employees, active and retired members of the uniformed services, and their qualified relatives can apply for coverage under the
			<a href="http://www.opm.gov/insure/ltc/" target="_blank" class="APEdocument APEexternal">Federal Long-term Care Insurance Program</a>.</li>
	</ul>
 </p>
