<p> 
	Each state operates a Medicaid program that provides health coverage for people with low incomes including families and children, the elderly, and people with disabilities.  The eligibility rules for Medicaid are different for each state.
 </p>
<p> People with Medicare with limited incomes have several opportunities for enrolling in Medicaid coverage and getting help paying Medicare costs. Medicaid also helps pay for nursing home care for a large proportion of lower-income people with Medicare. In addition, almost all states offer community-based long-term care services and supports through Medicaid that help individuals stay in their homes for as long as possible.
 </p>