	<p> There are two main ways to get Medicare coverage - through Original Medicare or through a Medicare Advantage Plan. </p>

	<p> Original Medicare - Original Medicare is fee-for-service coverage managed by the Federal government.  
	<ul>
		<li>Original Medicare includes hospital insurance (Part A) and medical insurance (Part B).</li>
		<li>You also have the option of buying Medicare prescription drug coverage (Part D), and/or supplemental insurance called a Medigap policy.</li>
		<li>You have your choice of providers who accept Medicare.</li>
	</ul> </p>
	
	<p> Medicare Advantage Plan (Part C) - Medicare Advantage Plans (like HMOs or PPOs) are offered by private companies approved by Medicare.
	<ul> 
		<li>If you join a Medicare Advantage Plan, the plan will provide all of your hospital insurance (Part A) and medical insurance (Part B) coverage and usually Medicare prescription drug coverage (Part D).  You may have a separate premium for this Part D coverage.</li>
		<li>Many Medicare Advantage Plans offer benefits in addition to Part A and B benefits. You don’t need and can’t be sold a Medigap (Medicare supplemental insurance) policy.</li>
		<li>Your doctor may or may not participate in a Medicare Advantage Plan’s network.</li>
	</ul>
	 </p>
