<p> PACE is a Medicare and Medicaid program that allows people who otherwise need a nursing home-level of care to remain at home.
PACE provides coverage for prescription drugs, doctor visits, transportation, home care, check-ups, hospital visits, and even nursing home stays when necessary.

<br/><br/>To qualify for PACE, you must meet the following conditions:

<ul>
	<li>You are age 55 or older.</li>
	<li>You live in the service area of a PACE organization.</li>
	<li>You are certified by your state as needing a nursing home level of care.</li>
	<li>At the time you join, you are able to live safely in the community with the help of PACE services.</li>  
</ul>
 </p>