<p> If you need health care, finding a provider you can afford can be a problem.  
Fortunately, there are places you can go for a wide variety of health needs that will provide free or reduced-cost care. 
They include some hospitals, and health centers and clinics.
 </p>

<p> 
These places provide prenatal care, baby shots, prescription drugs, general primary care, and specialized care for more serious conditions including mental health, substance abuse, and HIV/AIDS. 
Anyone may use a community health care center, whether you have health insurance or not. 
How much you pay will depend on your income. </p>
