<p> Group of one: In some states, if you're self-employed, you can buy small employer health coverage on a guaranteed issue basis. Find out if you qualify by visiting your
	<a href="http://www.naic.org/state_web_map.htm" target="_blank" class="APEdocument APEexternal">State Department of Insurance</a>
 </p>
