<p> 
The small business health care tax credit helps small businesses and small tax-exempt organizations afford 
the cost of covering their employees.  The credit is worth up to 35 percent of a small business&rsquo; premium costs 
&#40;that amount will increase to 50&#37; in 2014&#41;.  Employers must have less than 25 full-time workers; must cover at 
least 50 percent of the cost of health care coverage&#59; and must pay average annual wages below &#36;50,000.
 </p>
<p> 
Learn more about the eligibility rules and how to apply for the credit by clicking on the &ldquo;Visit the Website&rdquo; link.
 </p>