<p> 
When you're leaving job-based coverage, you might be able to convert your job-based health insurance plan to an individual policy. This is called "conversion" coverage, and isn't the same as "continuation coverage" (COBRA) in which you keep your job-based coverage.	If you have a choice, you should consider your options carefully.
 </p>

<p> You might also have special rights to buy individual coverage as a "
  	<a href="http://www.healthcare.gov/glossary/h/hippaaeligibleindividual.html" target="_blank" title="Explanation HIPAA eligible Individual" >HIPAA eligible Individual</a>
." </p>
<p> Contact your State Department of Insurance to see if these coverage options are available to you.
 </p>