<p> Medicare Supplemental Insurance (Medigap) provides coverage for benefits not covered by Medicare. </p>
<p> You may be able to choose up to 14 different standardized Medigap policies (Medigap Plans A through N). Each plan, A through N, has a different set of basic and extra benefits. It's important to compare Medigap policies because costs can vary. The benefits in any Medigap Plan A through N are the same for any insurance company.  </p>
