<div id="blueTop">&nbsp;
<div id="blueContainerResults">
<div id="whiteTopResults">&nbsp;
<div id="WhiteContainerResults">
    <div class="modal-body">
      <h2>Premiums versus Protections</h2>
      <p class="tableText">Insurance is about protection. Even healthy people need to use medical services from time to time. Health insurance that covers more services may have higher premiums, but it can also save you money if you need to use it.</p>
      <br />
      <p class="tableText">With no warning, the cost of health care can cause sudden and severe financial problems for you and your family.</p>
      <br />
      <p class="tableText">Health insurance that covers more services may have higher premiums, but it can save you money if you need to use it.</p>
      <br />
      <p class="tableText">When you review your insurance choices, look at both the price charged (monthly premium) for a policy and the level of protection it offers (for example, what services are covered, and what you have to pay when you receive covered services).</p>
      <br />
      <p class="tableText">Three key things to help determine the level of protection are a <i>maximum out of pocket limit</i>, an <i>annual deductible</i>, and <i>copayments and co-insurance</i>:</p>
      <br />
      <p class="tableText">A yearly <i>maximum out of pocket limit</i> specifies the most you will pay in a year for services covered under the plan (or that are subject to this limit) even if you need services that cost a lot of money.  In some plans, there may be in-network out-of-pocket costs above the limit because the plan doesn't include all of your costs &mdash; for example, the annual deductible, the cost of a doctor not in your plan's network, or your prescription drug copays. Be sure to find out if the policy leaves out any out of pocket costs or services from the annual limit.)</p>
      <br />
      <p class="tableText">An <i>annual deductible</i> is what you will pay for covered services before the insurance pays its share of the costs. You pay all costs until the deductible amount is met. Once it is met, you may still have to pay for services you receive. If you buy family coverage, you and your relatives might have to satisfy more than one deductible before the insurance begins to pay. Be sure to find out if the policy leaves out any services from the deductible (for example, prescription drugs) and how it changes for your family versus just for you.</p>
      <br />
      <p class="tableText">Most plans require some payment at the time services are used. These payments may be a fixed dollar amount (e.g., $10 for an office visit) which is call a <i>copayment</i> or a fixed percentage of the cost of a service (e.g., 20% of the charge for an office visit) which is called <i>co-insurance</i>. These payments count toward the maximum annual out of pocket limit.</p>
      <br />
      <p class="tableText">In general, you will find that lower maximum out of pocket limits and annual deductibles will mean higher premiums.</p>
      <br />
      <p class="tableText">If a policy gives you the option of getting care from outside of the network of providers in your plan, what you have to pay for out-of-network care will probably be higher, and you may be responsible for charges related to balance billing for amounts not covered by your plan.  Make sure you know what you will have to pay yourself for the different services covered, both in and out of network.</p>
      <br />
      <p class="tableText">As you're making your comparisons, it is also very important to remember that you might not be able to purchase all of the insurance options that insurance companies market in your area.  In most states, insurers can charge higher premiums or limit your coverage choices based on your health status or other factors.</p>
    </div>
  </div>

</div>
</div>
</div>
</div>