<div id="blueTop">&nbsp;
<div id="blueContainerResults">
<div id="whiteTopResults">&nbsp;
<div id="WhiteContainerResults">
    <h2>Copayments</h2>
      <p class="modal-content">
        A flat dollar ammount you must pay for a particular covered service. For example, you may have to pay a $15 copayment for each covered visit to a primary care doctor.
      </p>
      <p class="modal-content">
        <%= image_tag "orange-cone_2.gif", :class => "modal-image", :alt => "" %>
        Some or all copayments may count towards a plan's annual out of pocket maximum. For example, copayments for prescription drugs might not be limited by this annual maximum.
        In other cases, you may have to pay a "balance bill" amount for covered services, or covered services out-of-network, if the total charge is more than the allowed charge. You will need to read the plan to learn more.
      </p>

</div>
</div>
</div>
</div>