<div id="blueTop">&nbsp;
<div id="blueContainerResults">
<div id="whiteTopResults">&nbsp;
<div id="WhiteContainerResults">
<h2>How many applications are denied?</h2>
<p class="modal-content">
  This is the percentage of applications submitted for an insurance policy over the time period reported and were denied.
</p>
<p class="modal-content">
 <%= image_tag "orange-cone_2.gif", :class => "modal-image", :alt => "" %>
  Insurers do not have to sell policies to everybody. They may or may not decide to sell one to you based on your health condition, medical history, or even your job.
</p>
<div class="yellowBox">
<p class="modal-content-yellowBox">
  <%= image_tag "sys_images/ACAicon_medium.gif", :class => "modal-image", :alt=>"" %>
  Under the Affordable Care Act, as of September 2010, insurers can't turn children down because of a pre-existing condition, in any state. Starting in 2014, these same plans won't be able to turn down anyone who has a pre-existing condition, in any state.
</p>
</div>

</div>
</div>
</div>
</div>