<div id="blueTop">&nbsp;
<div id="blueContainerResults">
<div id="whiteTopResults">&nbsp;
<div id="WhiteContainerResults">
      <h2>Brand Drugs</h2>
      <p class="modal-content">
        Brand name drugs are medicines that are produced and supplied by a single company. They are patent protected and marketed under the company's brand name.
      </p>
<% params.delete("modal") %>

</div>
</div>
</div>
</div>