<div id="blueTop">&nbsp;
<div id="blueContainerResults">
<div id="whiteTopResults">&nbsp;
<div id="WhiteContainerResults">
    <div class="modal-body">
      <h2>Be Aware When You Apply for Insurance Plans</h2>
      <p class="tableText">In most states, insurance companies try to figure out your health status when you're applying for health insurance coverage to determine whether to offer you coverage, at what price, and what services will be left out or limited under the terms of the plan. This is called "medical underwriting." Plan summaries on this site include some information about how insurers are using this information.</p>
      <br />
      <p class="tableText">You will see: the percent of applications for the policy that insurers have denied, and the percent of policies that were sold at a higher premium.</p>
      <br />
      <p class="tableText">Denials are applications that are turned down.  This could include those turned down completely or ones that were put on hold until later (for example, until after surgery).  It would also apply if the insurance company offered someone a policy that was not the one requested.</p>
      <br />
      <p class="tableText">Here's how medical underwriting could affect you when you apply for a health insurance policy:</p>
      <br />
      <p class="tableTextBold">The insurer denies you coverage or limits your coverage</p>
      <p class="tableText">Unless you live in New York, New Jersey, Massachusetts, Vermont, or Maine, have rights based on your prior coverage, or are under the age of 19, be aware that there are several challenges for you when you are looking for insurance.</p>
      <br />
      <p class="tableText">In most states, you could be turned down for coverage if you have a pre-existing health condition at the time you applied for health insurance, including a condition that you have been treated for in the past.  Insurers don't have to sell policies to everybody.  They may or may not choose to sell one to you based on your health condition, medical history, your job, or a variety of other factors</p>
      <br />
      <p class="tableText">Insurers can also wait to make a decision to offer you coverage until after you have received a specific service (for example, until after you undergo planned surgery).</p>
      <br />
      <p class="tableText">In most states today, private insurance companies can also make rules that permanently limit coverage for a health condition, body part, or body system.</p>
      <br />
      <p class="tableText">Finally, insurance companies can also offer you plans that have a higher deductible than what you applied for, exclude pre-existing conditions from coverage for some time, strictly limit prescription drug coverage, or set other limits that leave you with less coverage than you need.</p>
      <br />
      <p class="tableTextBold">The insurer offers you coverage as published</p>
      <p class="tableText">If an insurer finds that you are healthy, it may offer you a policy at the published price with no special restrictions.</p>
      <br />
      <p class="tableTextBold">The insurer offers you coverage, but at a higher monthly premium</p>
      <p class="tableText">Unless you live in New York, Maine, Massachusetts, New Jersey, Oregon, Vermont, or Washington, insurers can charge a higher premium based on your health status or other factors. This can make your costs much higher than a published price or pre-application quote.</p>

    </div>

</div>
</div>
</div>
</div>