<div id="blueTop">&nbsp;
<div id="blueContainerResults">
<div id="whiteTopResults">&nbsp;
<div id="WhiteContainerResults">
      <h2>Non-formulary Drugs</h2>
      <p class="modal-content">
        Also known as "Tier 3" drugs, non-formulary drugs can be prescribed and dispensed, but at a greater cost to you.
      </p>
      <p class="modal-content">
        <%= image_tag "orange-cone_2.gif", :class => "modal-image", :alt => "" %>
        If your provider can establish that a non-formulary drug is medically necessary for you, your insurance company may cover more of the cost of the drug.
      </p>
<% params.delete("modal") %>

</div>
</div>
</div>
</div>