<div id="blueTop">&nbsp;
<div id="blueContainerResults">
<div id="whiteTopResults">&nbsp;
<div id="WhiteContainerResults">

<h2>Doctor Choice</h2>
<p class="modal-content">There are generally five types of health care plans that are available to choose from. These include:</p>
<p class="modal-content"><span class="modal-content-bold">Indemnity</span> - The insurer does not have a network of providers that it contracts with. You will receive covered benefits from any doctor you choose.</p>
<p class="modal-content"><span class="modal-content-bold">HMO (Health Maintenance Organization)</span> - Covered benefits can only be received from the plan's network of providers, except in emergency situations.</p>
<p class="modal-content"><span class="modal-content-bold">EPO (Exclusive Provider Option)</span> - Similar to an HMO, covered benefits can be provided only by the plan's network of providers</p>
<p class="modal-content"><span class="modal-content-bold">POS (Point of Service)</span> - Similar to an HMO, but gives you the option of getting some care covered outside of the plan's network of providers. Typically you will pay more out of pocket for the out-of-network care</p>
<p class="modal-content"><span class="modal-content-bold">PPO (Preferred Provider Organization)</span> - Allows you to choose to receive care from network providers or out-of-network providers. Typically you will pay more for the out-of-network care. </p>
<p class="modal-content">
  <%= image_tag "orange-cone_2.gif", :class => "modal-image", :alt => "" %>
  Different plans have different rules about which doctors or hospitals they will pay for you to use. If there is a doctor or hospital that you prefer to use, you should find out whether your doctor or hospital is in the plan's network, and if not, how these rules affect you. 
</p>


</div>
</div>
</div>
</div>