<div id="blueTop">&nbsp;
<div id="blueContainerResults">
<div id="whiteTopResults">&nbsp;
<div id="WhiteContainerResults">
<h2>In-Network Out-of-Pocket Cost</h2>

<p class="modal-content">
  The maximum amount you will have to pay for in-network covered services in a year. Generally this includes the deductible, coinsurance, and copayments. 
</p>
<p class="modal-content">
  <%= image_tag "orange-cone_2.gif", :class => "modal-image", :alt => "" , :align => "left"%>
  This definition may vary from plan to plan. For example, in some plans the in-network out-of-pocket limit doesn't include cost sharing for all services, such as prescription drugs. Plans may have different in-network out-of-pocket limits for different services. 
</p>
<% params.delete("modal") %>

</div>
</div>
</div>
</div>