<div id="blueTop">&nbsp;
<div id="blueContainerResults">
<div id="whiteTopResults">&nbsp;
<div id="WhiteContainerResults">
      <h2>Health Savings Account (HSA)</h2>
      <p class="modal-content">
        A Health Savings Account (HSA) is a medical savings account available to taxpayers in the United States who are enrolled in a High Deductible Health Plan (HDHP).
        The funds contributed to the account are not subject to federal income tax at the time of deposit. Unlike a flexible spending account (FSA), funds roll over year to year if you don't spend them.
        Funds must be used to pay for qualified medical expenses with pre-tax dollars.
      </p>
<% params.delete("modal") %>

</div>
</div>
</div>
</div>