<div id="blueTop">&nbsp;
<div id="blueContainerResults">
<div id="whiteTopResults">&nbsp;
<div id="WhiteContainerResults">
<h2>This is a reasonably accurate estimate.</h2>
<p class="modal-content">
In your state, insurers cannot charge higher premiums based on your health status though other factors may increase premiums.
</p>
<p class="modal-content">
<%= image_tag "orange-cone_2.gif", :class => "modal-image", :alt => "" %>
In most other states, insurers can charge more based on your age, sex, health status or other factors.
</p>
<div class="yellowBox">
<p class="modal-content-yellowBox">
<%= image_tag "sys_images/ACAicon_medium.gif", :class => "modal-image", :alt => "" %>
Under the Affordable Care Act, starting in 2014, insurers won't be allowed to charge higher premiums based on health status in any state. They also won't be allowed to charge you a higher premium based on your sex, and there will be limits on how much premiums can vary based on age.
</p>
</div>

</div>
</div>
</div>
</div>