<div id="blueTop">&nbsp;
<div id="blueContainerResults">
<div id="whiteTopResults">&nbsp;
<div id="WhiteContainerResults">
<h2>Co-insurance</h2>
<p class="modal-content">
  The percentage of allowed charges for covered services that you're required to pay. For example, the health insurance may cover 80% of charges for a covered hospital stay, leaving you responsible
  for the other 20%. This 20% is known as co-insurance.
</p>
<p class="modal-content">
  <%= image_tag "orange-cone_2.gif", :class => "modal-image", :alt => "" %>
  Not all co-insurance may count towards a plan's annual out of pocket maximum. For example, co-insurance for out-of-network care, or for certain benefits, might not be limited by this annual maximum.
  In other cases, you may have to pay a "balance bill" amount for covered services, or covered services out-of-network, if the total charge is more than the allowed charge. You will need to read the plan to learn more.
</p>

</div>
</div>
</div>
</div>