<div id="blueTop">&nbsp;
<div id="blueContainerResults">
<div id="whiteTopResults">&nbsp;
<div id="WhiteContainerResults">
<h2>You may be charged more</h2>
<p class="modal-content"> 
  Actual cost of coverage may be higher than this estimate. Insurers can charge more than the estimated base rate you see here, based on your health status or other factors.
</p>
<p class="modal-content">
  A "surcharged quote" is a premium quote that has been adjusted to cost more, based on the applicant's health status.
</p>
<p class="modal-content"><%= image_tag "orange-cone_2.gif", :class => "modal-image", :alt => "" %>This can make your costs much higher.</p>
<br />
<div class="yellowBox">
  <p class="modal-content-yellowBox">
    <%= image_tag "sys_images/ACAicon_medium.gif", :class => "modal-image", :alt=> "" %>
    Under the Affordable Care Act, starting in 2014, insurers won't be allowed to charge higher premiums based on health status in any state. They also won't be allowed to charge you a higher premium based on your sex, and there will be limits on how much premiums can vary based on age.
  </p>
</div>
</div>
</div>
</div>
</div>