<div id="blueTop">&nbsp;
<div id="blueContainerResults">
<div id="whiteTopResults">&nbsp;
<div id="WhiteContainerResults">
<h2>How many applications are denied?</h2>
<p class="modal-content">
  In your state, your ability to buy individual health insurance from private insurers does not depend on your health status. 
  In general, individual health insurance companies in your state are not allowed to turn down residents of the state because of health status, age, gender, or other factors.
</p>      <p class="modal-content">
<%= image_tag "orange-cone_2.gif", :class => "modal-image", :alt => "" %>
  In most other states, insurers are not required to sell policies to everybody.
</p>
<div class="yellowBox">
  <p class="modal-content-yellowBox">
    <%= image_tag "sys_images/ACAicon_medium.gif", :class => "modal-image", :alt => "" %>
    Under the Affordable Care Act, this will change. As of September 2010, insurers can't turn children down because of a pre-existing condition. 
    Starting in 2014, these same plans won't be able to turn down anyone who has a pre-existing condition.
  </p>
</div>

</div>
</div>
</div>
</div>