<div id="blueTop">&nbsp;
<div id="blueContainerResults">
<div id="whiteTopResults">&nbsp;
<div id="WhiteContainerResults">
      <h2>Estimated Monthly Base Rate</h2>
      <p class="modal-content">
        The starting price quoted by the insurance company for the monthly premium you would pay for health insurance, whether you use medical services or not.  This estimate is based on the information that you provided earlier: zip code, sex, age, and the number of people in your family.
      </p>
      <p class="modal-content">
        <%= image_tag "orange-cone_2.gif", :class => "modal-image", :alt => "" %>
        Your actual premium may be higher than the estimated monthly base rate shown here, based on your health and pre-existing conditions.
      </p>


</div>
</div>
</div>
</div>