<div id="blueTop">&nbsp;
<div id="blueContainerResults">
<div id="whiteTopResults">&nbsp;
<div id="WhiteContainerResults">
      <h2>EPO (Exclusive Provider Option)</h2>
      <p class="modal-content">
        Similar to an HMO, a managed care plan under which non-emergency services are covered only if you go to doctors, specialists, or hospitals in the plan's network.
      </p>
      <p class="modal-content">
        <%= image_tag "orange-cone_2.gif", :class => "modal-image", :alt => "" %>
        Using an out-of-network provider or facility will mean you pay the full cost of the services. You will not be paid back for using these services.  
      </p>


</div>
</div>
</div>
</div>