<div id="blueTop">&nbsp;
<div id="blueContainerResults">
<div id="whiteTopResults">&nbsp;
<div id="WhiteContainerResults">
      <h2>POS (Point of Service)</h2>
      <p class="modal-content">
        Similar to an HMO, you pay less if you use doctors, hospitals, and other health care providers that belong to the plan's network. You may have the option of getting some care covered outside of the plan's network of providers, typically at a higher cost. Also, you may not be required to designate a primary care physician or obtain a referral from him or her in order to see a specialist.
      </p>
      <p class="modal-content">
        <%= image_tag "orange-cone_2.gif", :class => "modal-image", :alt => "" %>
        You may choose to see a provider that is out-of-network. However, you may pay a higher cost sharing amount under the plan and be responsible for the difference between the amount billed by the provider and the amount allowed under the plan.  
      </p>


</div>
</div>
</div>
</div>