<div id="blueTop">&nbsp;
<div id="blueContainerResults">
<div id="whiteTopResults">&nbsp;
<div id="WhiteContainerResults">
      <h2>Annual Deductible</h2>
      <p class="modal-content">
      The amount you must pay each year for covered services before your insurer begins to pay. Insurers apply and structure deductibles differently. For example, under one plan, a single deductible might apply to all covered services while another plan might have separate deductibles for different covered services such as prescription drug coverage.  
      </p>
      <p class="modal-content">
        <%= image_tag "orange-cone_2.gif", :class => "modal-image", :alt => "" %>
        The cost of some services, including out-of-network services, may not be applied to the deductible. For those services, the amount you pay will not count towards the deductible, making your overall costs higher. It's important to know which costs count or don't count towards the deductible. You will need to read the plan to learn more.
      </p>

    </div>
  </div>
</div>
</div>