<div id="blueTop">&nbsp;
<div id="blueContainerResults">
<div id="whiteTopResults">&nbsp;
<div id="WhiteContainerResults">
      <h2>Indemnity</h2>
      <p class="modal-content">
        Also known as "Fee-for-Service" plans, indemnity plans allow you to choose your providers from among any provider that agrees to treat you.
      </p>
      <p class="modal-content">
        <%= image_tag "orange-cone_2.gif", :class => "modal-image", :alt => ""%>
        While indemnity plans allow the most flexibility, they tend to cost you more than other plans - both in higher premiums, and in what you pay for services (for example, you often have to pay for charges in excess of allowed amounts).
        Indemnity plans also typically require you to handle your own paperwork, rather than the doctor's office handling it for you.
      </p>

</div>
</div>
</div>
</div>