<div id="blueTop">&nbsp;
<div id="blueContainerResults">
<div id="whiteTopResults">&nbsp;
<div id="WhiteContainerResults">
      <h2>Formulary</h2>
      <p class="modal-content">
        A formulary is a list of drugs that your insurance plan covers. It may include how much you pay for each drug (If the plan uses "tiers," the formulary may list which drugs are in which tiers). Formularies may include both generic drugs and brand-name drugs.
      </p>
<% params.delete("modal") %>

</div>
</div>
</div>
</div>

