<div id="blueTop">&nbsp;
<div id="blueContainerResults">
<div id="whiteTopResults">&nbsp;
<div id="WhiteContainerResults">
      <h2>Generic Drugs</h2>
      <p class="modal-content">
        A generic drug is a medicine that is the same as a brand-name drug. It has the same dosage, strength, quality, performance, safety, and intended use.
      </p>
<% params.delete("modal") %>

</div>
</div>
</div>
</div>