<div id="blueTop">&nbsp;
<div id="blueContainerResults">
<div id="whiteTopResults">&nbsp;
<div id="WhiteContainerResults">
<h2>Coverage Limits</h2>
<p class="modal-content">
  This can be a limit on the scope of coverage for specific benefits, such as a limited number of hospital or nursing home days, home health visits, or a dollar limit on payment for covered services, such as medical equipment, like a wheel chair. Under the Affordable Care Act, lifetime dollar limits are no longer permitted, and annual dollar limits are restricted in certain plans.  
</p>
<div class="yellowBox">
  <p class="modal-content-yellowBox">
    <%= image_tag "sys_images/ACAicon_medium.gif", :class => "modal-image", :alt=>"" %>
    Beginning in 2014, the Affordable Care Act prohibits new plans and existing group plans from imposing any annual dollar limits on the amount of coverage an individual may receive
  </p>
</div>


</div>
</div>
</div>
</div>