<div id="blueTop">&nbsp;
<div id="blueContainerResults">
<div id="whiteTopResults">&nbsp;
<div id="WhiteContainerResults">
      <h2>PPO (Preferred Provider Organization)</h2>
      <p class="modal-content">
        A type of health plan that contracts with medical providers, such as hospitals and doctors, to create a network of participating providers. You pay less if you use providers that belong to the plan's network.
      </p>
      <p class="modal-content">
        <%= image_tag "orange-cone_2.gif", :class => "modal-image", :alt => "" %>
        You can use doctors, hospitals, and providers outside of the network at an additional cost. However, you may pay a higher cost sharing amount under the plan and be responsible for the difference between the amount billed by the provider and the amount allowed under the plan. Also, you may have to file paperwork that results from using an out-of-network physician or facility, with no help from the provider's office.
      </p>


</div>
</div>
</div>
</div>