<div id="blueTop">&nbsp;
<div id="blueContainerResults">
<div id="whiteTopResults">&nbsp;
<div id="WhiteContainerResults">
<h2>Excluded Services</h2>
<p class="modal-content">
  Items or services that are not covered under your plan and for which your insurer won't pay. For example, your policy may not cover pregnancy care or any services related to a pre-existing condition.
</p>
<p class="modal-content">
  <%= image_tag "orange-cone_2.gif", :class => "modal-image", :alt => "" %>
  This list may not include every service or item. Check with the plan for a complete list of excluded services.
</p>
<div class="yellowBox">
  <p class="modal-content-yellowBox">
    <%= image_tag "sys_images/ACAicon_medium.gif", :class => "modal-image", :alt => "" %> 
    Beginning in 2014, the Affordable Care Act implements strong reforms that prohibit insurance companies from refusing to sell coverage or renew policies because of an individual's pre-existing conditions. Also, in the individual and small group market, the Affordable Care Act eliminates the ability of insurance companies to charge higher rates due to gender or health status.
  </p>
</div>

</div>
</div>
</div>
</div>