<p>When you lose your student health insurance at graduation, you may be eligible for a "special enrollment" opportunity into your parent's job-based health plan (if you are still eligible as a dependent) or into your spouse's job-based health plan if you're married. If you're eligible, your parents or your spouse should tell the benefits office that you have lost your coverage and request a special enrollment opportunity.  You will have 30 days to join that job-based health plan.</p>

